
@foreach(DatoInteres dato in ViewBag.intereses){
    <div class="container">
        @if (dato.TipoInteres == 1)
        {
            <h1>Hobbie: @dato.Interes</h1>
        }
        else if (dato.TipoInteres == 2)
        {
            <h1>Serie: @dato.Interes</h1>
        }
        else if (dato.TipoInteres == 3)
        {
            <h1>Amigo: @dato.Interes</h1>
        }
        else if (dato.TipoInteres == 4)
        {
            <h1>Gusto: @dato.Interes</h1>
        }
    </div>
} 
<a href='@Url.Action("VolverMenu", new {proxView = "Index"})'>Volver al menu</a>
<a href='@Url.Action("VolverMenu", new {proxView = "infoDatosPersonales"})'>Volver al perfil</a>


