
    @foreach(DatoFamiliar dato in ViewBag.intereses){
        if (dato.TipoInteres == 1)
        {
            <h1>Hobbie: @dato.Interes</h1>
        }
        else if (dato.TipoInteres == 2)
        {
            <h1>Serie: @dato.Interes</h1>
        }
        else if (dato.TipoInteres == 3)
        {
            <h1>Amigo: @dato.Interes</h1>
        }
        else if (dato.TipoInteres == 4)
        {
            <h1>Gusto: @dato.Interes</h1>
        }
    } 

    <a href="@Url.Action("Index")">Volver al inicio</a>

