
    @foreach(DatoFamiliar dato in @ViewBag.familiares){
        <h1>Nombre: @dato.Nombre</h1>
        <h1>Apellido: @dato.Apellido</h1>
        <h1>Parentesco: @dato.Parentesco </h1>
        <h1>Descripción: @dato.Descripción </h1>
    } 

    <a href="@Url.Action("Index")">Volver al inicio</a>

