
    @foreach(DatoFamiliar dato in @ViewBag.familiares){
        <div class="container">
            <h1>Nombre: @dato.Nombre</h1>
            <h1>Apellido: @dato.Apellido</h1>
            <h1>Parentesco: @dato.Parentesco </h1>
            <h1>Descripción: @dato.Descripcion </h1>
        </div>
    } 
<a href='@Url.Action("VolverMenu", new {proxView = "Index"})'>Volver al menu</a>
<a href='@Url.Action("VolverMenu", new {proxView = "infoDatosPersonales"})'>Volver al perfil</a>

